
*{
	margin: 0px;
	padding: 0px;
	list-style: none;
	text-decoration: none;
	font-family: "roboto";
}
body{
	background: #204e70;
	font-size: 16px;
}


.container{
	position: relative;
	height: auto;

	border-radius: 10px;
	margin:10px;	
	
}

img{
	border-radius: 10px; 
	margin: 5px;
	width: 100%;
}

.primeraseccion{

}


.navegacion{
	grid-area: navegacion;
	margin-top: 0.5em;
	display:flex;
	align-content: right;

	/*grid-column: 2/4;
	grid-row:1/2;*/

	/*background: #819BC4;*/
	background: white;
	/*font-size: 25px;*/
	font-size: 1.5625em;
	/*margin-right: 10px;*/
	

	margin-left: 0.625em;

	position: fixed;
	top: 0%;
	left: 70%;
	

	border-radius: 10px;
	border: 2px solid black;
}

.navegacion, ul, li{
	display: inline-block;
	
}
a{
	list-style-type: none;
	display: block;
	color:#773685;
	padding:0.35em 0.35em;
}

.uno:hover{
	background: #e4afb1;
	color:#204e70;
	border-radius: 8px;
}

.slider{
 	

	display: flex;
	align-content: center;
	justify-content: center;

	margin-right:10px;
	margin-left: 10px;
	margin-bottom: 10px;

	/*padding-top:5px;
	padding-bottom: 10px;*/
}


	.texto{
	grid-area:texto;
	color: #e4afb1;

	/*grid-column: 2/4;
	grid-row:4/5;*/
  
	text-align: center;
	font-weight: 700;

	/*margin: 10px;
	margin-bottom: 10px;*/
	margin-right: 0.25em;
	margin-left: 0.25em;
	margin-bottom:0.25em;
	
	/*font-size: 30px;*/
	font-size: 1.875em;

	border-radius: 0,125rem;
	/*border-radius: 2px;*/
	/*padding:0,3125rem;*/
	/*padding:5px;*/

}

.info{
	grid-area: info;

	/*grid-column: 1/5;
	grid-row:9/10;*/

	display: flex;
	justify-content: center;
	align-content: center;
	border-radius: 3px;
	

	/*border-radius: 0,125rem;*/
}

	.logo:hover {
	text-decoration: none;
	color: #25d366;
    background-color:#fff;
    border-radius: 15px;
    display:flex;
    justify-content: center;
}



.footer{
	grid-area: footer;
	/*grid-column: 1/5;
	grid-row:10/11;*/
	
	/*font-size: 0,9375em;*/
	font-size: 13px;
	text-align: center;

	/*margin:0,3125rem;*/
	margin: 5px;

	/*margin-right: 0,625rem;
	margin-left: 0,625rem;*/
	margin-right: 10px;
	margin-left: 10px;

	/*padding: 0,3125rem;*/
	padding: 5px;

	/*border-radius: 0,125rem;*/
	border-radius: 2px;
}

.float{
	position:fixed;
	width:60px;  
	height:60px;
	bottom:40px;               
	right:30px;
	background-color:#25d366;
	color:#FFF;
	border-radius:70px;
	text-align:center;
    font-size:28px;
	box-shadow: 1px 1px 2px #999;
    z-index:100;
}

.float:hover {
	text-decoration: none;
	color: #25d366;
  background-color:#fff;
}

.my-float{
	margin-top:16px;
}


	@media screen and (max-width: 600px) and (max-width: 1200px) {
		.navegacion{
			position: fixed;
			left:4%;

}
img{
	width: 97%;
}
.slider{
	margin-top:60px;

	}


}